################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
obj/
/.vs/SecureFlow
.vs/

## Logs
*.log

## EF Core
Migrations/**/obj/